<p class="text-warning">Tu usuario fue confirmado exitosamente</p>
<p>{{nombre}} {{apellido}} Felicidades su cuenta fue habilitada!!! Ya puedes Votarshhhhhhhhhhhh</p>
<img src="./assets/Codigo_Logo.png" alt="">