<div class="pt-5">
    <p class="validar-titulo text-danger text-center">Usuario incorrecto !!!!!!!!!!</p>

    <div class="mt-5 row justify-content-md-center h-100">
        <form method="get " action="http://localhost:3000/">
            <button class="btn btn-danger btn-lg" type="submit">INICIO</button>
        </form>
        </p>
    </div>

    <img class="mt-5 validar-logo" src="./assets/Logo-Codigo.png" alt="">
</div>